* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdfffc;
}

/* HEADER */
header {
  justify-content: flex-start;
  display: flex;
  padding: 1em 8em;
}

.left-header {
  display: flex;
  flex-grow: 2;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-family: sporty-pro, sans-serif;

  font-weight: 700;

  font-style: normal;
  padding-right: 2em;
}

.h1one {
  color: #e71d36;
  text-shadow: -0.1em 0.1em 0em #66999b;
}

.h1two {
  color: #66999b;
  text-shadow: 0.1em 0.1em 0em #e71d36;
}

.welcome {
  font-family: sporty-pro, sans-serif;

  font-weight: 700;

  font-style: normal;
}

.right-header {
  display: flex;
  align-items: center;
}

.navlink {
  font-family: sporty-pro, sans-serif;

  font-weight: 700;

  font-style: normal;
  text-decoration-color: #e71d36;
  text-decoration-thickness: 2px;
  padding: 0em 1em;
  color: black;
}

.navlink:hover {
  text-decoration-color: #66999b;
  color: #e71d36;
}

.logout {
  color: black;
  background-color: #fdfffc;
  border: solid 1px;
  border-radius: 2px;
  font-family: sporty-pro, sans-serif;

  font-weight: 300;

  font-style: normal;
  padding: 0em 1em;
  margin-left: 4em;
}
.submit-daily-weight {
  color: #fdfffc;
  background-color: #66999b;
  border: solid 1px;
  border-radius: 2px;
  font-family: sporty-pro, sans-serif;

  font-weight: 300;

  font-style: normal;
  padding: 0em 1em;
  margin-left: 1em;
}

.logout:hover {
  cursor: pointer;
  color: #e71d36;
  border-color: #e71d36;
}
.submit-daily-weight:hover {
  cursor: pointer;
  color: #e71d36;
  border-color: #e71d36;
}
.logout:hover {
  cursor: pointer;
  color: #e71d36;
  border-color: #e71d36;
}

/* BODY */

.container {
  display: flex;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
  max-height: 600px;
}

.stats-card {
  flex: 1;
  border-radius: 3px;
  border: 1px solid black;
  padding-bottom: 1em;
  box-shadow: 0.1em 0.1em 0em black;
  margin: 1em;
}

.chart-card {
  flex: 1;
  border-radius: 3px;
  border: 1px solid black;
  padding-bottom: 1em;
  box-shadow: 0.1em 0.1em 0em black;
  margin: 1em;
}

.card-header {
  background-color: #66999b;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}

h2 {
  font-family: sporty-pro, sans-serif;

  font-weight: 800;

  font-style: normal;
  flex-grow: 2;
}

h3 {
  font-family: sporty-pro, sans-serif;

  font-weight: 700;

  font-style: normal;
}

.lvl {
  font-weight: 300;
}

.ratingColor {
  color: #e71d36;
  text-shadow: 0.1em 0.1em 0em black;
}

.daily-form {
  padding: 1em;
  background-color: lightgray;
  border-radius: 2px;
}
.daily-form > form {
  display: flex;
  align-items: center;
  padding-top: 1em;
}

.VictoryContainer {
  height: 80% !important;
  width: 100% !important;
  padding-top: -5em;
}

h4 {
  font-family: sporty-pro, sans-serif;

  font-weight: 300;

  font-style: normal;
}
.heavy {
  font-weight: 700;
  font-size: 2em;
  text-shadow: 1px 1px 0 #66999b;
}

input[type="date"] {
  margin-right: 1em;
  font-family: roboto-slab, serif;

  font-weight: 400;

  font-style: normal;
  font-size: 0.8em;
}
input[id="weight"] {
  width: 10%;
  font-family: roboto-slab, serif;

  font-weight: 400;

  font-style: normal;
}
label {
  font-family: roboto-slab, serif;

  font-weight: 400;

  font-style: normal;
  margin-right: 0.5em;
  font-size: 0.8em;
}

.progress-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.progress-bar {
  flex-grow: 2;
  height: 1em;
  width: 70%;
  background-color: lightgray;
  display: flex;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 1px 1px 0 #66999b;
}

.current-progress {
  height: 100%;
  width: 80%;
  background-color: #e71d36;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.progress-container > p {
  color: gray;
  margin-left: 0.3em;
  font-family: sporty-pro, sans-serif;

  font-weight: 300;

  font-style: normal;
  font-size: 0.8em;
}
.current-progress > p {
  color: #790f1c;
  margin-right: 0.3em;

  font-family: sporty-pro, sans-serif;

  font-weight: 300;

  font-style: normal;
  font-size: 0.8em;
}
.inner-stats-container {
  padding: 1em;
}

.new-pr-form {
  margin: 0.2em 0;
  padding: 0.2em;
  background-color: lightgray;
  border-radius: 2px;
}

.new-pr-button {
  color: #fdfffc;
  background-color: #66999b;
  border: solid 1px black;
  border-radius: 2px;
  font-family: sporty-pro, sans-serif;

  font-weight: 300;

  font-style: normal;
  padding: 0em 0.5em;
  margin-left: 1em;
}

.new-pr-button:hover {
  cursor: pointer;
  color: #e71d36;
  border-color: #e71d36;
}

.stat-div {
  margin-top: 1.2em;
}

.top {
  border-top: 2px dashed gray;
  padding-top: 1em;
}
