@mixin sporty-font($weight) {
  font: {
    family: sporty-pro, sans-serif;
    weight: $weight;
    style: normal;
  }
}

@mixin roboto-font($weight) {
  font: {
    family: roboto-slab, serif;
    weight: $weight;
    style: normal;
  }
}
