@import "helpers/variables";
@import "helpers/mixins";

header {
  justify-content: flex-start;
  display: flex;
  padding: 1em 8em;
}

.left-header {
  display: flex;
  flex-grow: 2;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  @include sporty-font(700);
  padding-right: 2em;

  #h1one {
    color: $red;
    text-shadow: -0.1em 0.1em 0em $blue;
  }

  #h1two {
    color: $blue;
    text-shadow: 0.1em 0.1em 0em $red;
  }
}

.welcome {
  @include sporty-font(700);
}

.right-header {
  display: flex;
  align-items: center;
}

.navlink {
  @include sporty-font(700);
  text-decoration-color: $red;
  text-decoration-thickness: 2px;
  padding: 0em 1em;
  color: black;
  &:hover {
    text-decoration-color: $blue;
    color: $red;
  }
}

#logout {
  @include button(black, $white);
  margin-left: 4em;
}
