@import "helpers/variables";
@import "helpers/extenders";
@import "helpers/mixins";

.leaderboard-card {
  @extend %card-base;
}

.leaderboard-header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}

.leaderboard-container {
  padding: 2em;
  display: flex;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.leader-list {
  padding: 1em 4em 1em 4em;
}

li {
  display: flex;
  align-items: baseline;
  @include sporty-font(700);
  font-size: 2em;
}

.lvl-small {
  font-size: 20px;
  font-weight: 300;
}
.leader-name {
  color: $blue;
  flex-grow: 2;
  text-shadow: 2px 2px 0 $red;
}

.leader-level {
  color: $red;
  text-shadow: -2px 2px 0 $blue;
}

@media (max-width: 800px) {
  .leaderboard-card {
    max-width: 100%;
    margin: 0;
  }
  .leaderboard-container {
    margin: 0.2em;
    padding: 0;
    max-width: 95%;
    justify-content: center;
    align-items: center;
  }
  .leader-list {
    padding: 0;
    font-size: 0.55em;
  }
}
