.leaderboard-card {
  flex: 1;
  border-radius: 3px;
  border: 1px solid black;
  padding-bottom: 1em;
  box-shadow: 0.1em 0.1em 0em black, 2px 2px 0 #e71d36, 4px 4px 0 #66999b;
  margin: 1em;
}

.leaderboard-header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}

.leaderboard-container {
  padding: 2em;
  display: flex;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.leader-list {
  padding: 1em 4em 1em 4em;
}

li {
  display: flex;
  align-items: baseline;
  font-family: sporty-pro, sans-serif;

  font-weight: 700;

  font-style: normal;
  font-size: 2em;
}

.lvl-small {
  font-size: 20px;
  font-weight: 300;
}
.leader-name {
  color: #66999b;
  flex-grow: 2;
  text-shadow: 2px 2px 0 #e71d36;
}

.leader-level {
  color: #e71d36;
  text-shadow: -2px 2px 0 #66999b;
}

@media (max-width: 800px) {
  .leaderboard-card {
    max-width: 100%;
    margin: 0;
  }
  .leaderboard-container {
    margin: 0.2em;
    padding: 0;
    max-width: 95%;
    justify-content: center;
    align-items: center;
  }
  .leader-list {
    padding: 0;
    font-size: 0.55em;
  }
}
