@import "helpers/variables";
@import "helpers/extenders";
@import "helpers/mixins";
@import "header";
@import "leaderboard";
@import "login-signup";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
}

.submit-daily-weight {
  @include button($white, $blue);
  margin-left: 1em;
}

/* BODY */

.container {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
  max-height: 600px;
  flex-direction: row;
}

.stats-card,
.chart-card {
  @extend %card-base;
}

.card-header {
  background-color: $blue;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}

h2 {
  @include sporty-font(800);
  flex-grow: 2;
}

h3 {
  @include sporty-font(700);
}

.lvl {
  font-weight: 300;
}

.ratingColor {
  color: $red;
  text-shadow: 0.1em 0.1em 0em black;
}

.daily-form {
  padding: 1em;
  background-color: lightgray;
  border-radius: 2px;
}
.daily-form > form {
  display: flex;
  align-items: center;
  padding-top: 1em;
}

.VictoryContainer {
  height: 80% !important;
  width: 100% !important;
  padding-top: -5em;
}

h4 {
  @include sporty-font(300);
}
.heavy {
  font-weight: 700;
  font-size: 2em;
  text-shadow: 1px 1px 0 $blue;
}

input[type="date"] {
  margin-right: 1em;
  @include roboto-font(400);
  font-size: 0.8em;
}

input[id="weight"] {
  width: 10%;
  @include roboto-font(400);
}

label {
  @include roboto-font(400);
  margin-right: 0.5em;
  font-size: 0.8em;
}

.progress-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.progress-bar {
  flex-grow: 2;
  height: 1em;
  width: 70%;
  background-color: lightgray;
  display: flex;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 1px 1px 0 $blue;
}

.current-progress {
  height: 100%;
  width: 80%;
  background-color: $red;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.progress-container > p {
  color: gray;
  margin-left: 0.3em;
  @include sporty-font(300);
  font-size: 0.8em;
}
.current-progress > p {
  color: #790f1c;
  margin-right: 0.3em;
  @include sporty-font(300);
  font-size: 0.8em;
}
.inner-stats-container {
  padding: 1em;
}

.new-pr-form {
  margin: 0.2em 0;
  padding: 0.2em;
  background-color: lightgray;
  border-radius: 2px;
}

.new-pr-button {
  color: $white;
  background-color: $blue;
  border: solid 1px black;
  border-radius: 2px;
  @include sporty-font(300);
  padding: 0em 0.5em;
  margin-left: 1em;
  &:hover {
    cursor: pointer;
    color: $red;
    border-color: $red;
  }
}

.top {
  border-top: 2px dashed gray;
  padding-top: 1em;
  margin-top: 1em;
}

.blank-div {
  margin: 0.2em 0;
  padding: 0.2em;
  height: 21px;
}

.no-data-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90%;
  color: gray;
  padding: 0 1em;
  margin-bottom: 10%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  max-width: 60%;
  margin: 0 auto;
}

.center-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-header {
  font-size: 1.5em;
}

.no-padding {
  padding: 0;
}

@media (max-width: 800px) {
  body {
    max-width: 100%;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2em;
    font-size: larger;
    height: 10em;
    background-color: lightgray;
    padding: 1em;
  }

  .mobile-menu > .navlink,
  .mobile-menu > .welcome {
    padding: 0 0 0 0;
    margin: 0;
  }

  .mobile-menu-icon {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    height: 2.5em;
    width: 2.5em;
    justify-content: space-between;
    align-items: center;
  }
  .menu-piece {
    height: 20%;
    width: 100%;
    background-color: #66999b;
    border-radius: 2px;
  }
  .login-container {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }
  .center-header {
    font-size: small;
  }
  .container {
    max-width: 95%;
    max-height: 100%;
    flex-direction: column;
  }
  header {
    justify-content: center;
    flex-direction: column;
    padding: 1em 0 1em 1em;
    margin: 0 auto;
  }
  .left-header {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
  }
  .left-header > .welcome {
    display: none;
  }
  .right-header {
    display: none;
  }
  h1 {
    padding: 0;
    margin: 0;
    flex-grow: 2;
  }
}
